.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-bar {
  margin-top: 16px;
  width: 500px;
}

.header-tabs {
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}
